:root {
  --verde-escuro:   #264E2B;
  --verde-sidebar:  #355A2F;
  --verde-medio:    #4F7A3A;
  --verde-claro:    #CFE3B2;
  --bege-claro:     #F6F3E8;
  --bege-medio:     #EAE3CF;
  --cinza-suave:    #D8D3C4;
  --verde-profundo: #1E3D22;
  --branco:         #FFFFFF;
}


body {
    margin: 0;
    background: #f5f5ef;
    font-family:  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.breadcrumb-item a {
    color: #4F7A3A;
    text-decoration: none;
}

/* 2. Hover no link */
.breadcrumb-item a:hover {
    color: #355A2F;
    text-decoration: underline;
}

/* 3. Item ATIVO (Disciplinas) - Sobrescreve a variável interna do Bootstrap */
.breadcrumb-item.active {
    color: var(--verde-sidebar);
    font-weight: 550;
}


/* =========================
   BARRA DE PESQUISA
   ========================= */

.barra-pesquisa {
    background: #ffffff;
    border-radius: 15px;
    padding: 13px 18px;
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 400px;
    height: 56px;

    box-sizing: border-box;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);

    margin-left: auto;
    margin-bottom: 30px;
}

.barra-pesquisa i {
    font-size: 20px;
    color: #333;
    flex-shrink: 0;
}

.barra-pesquisa input {
    border: none;
    outline: none;

    width: 100%;

    margin-left: 12px;

    font-size: 16px;

    background: transparent;
    color: #333;
}

.barra-pesquisa input::placeholder {
    color: #777;
}

.barra-pesquisa input:focus {
    outline: none;
    box-shadow: none;
}


#lista-disciplinas {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-disciplina {
    width: 100%;
    box-sizing: border-box;

    background: white;
    border-radius: 14px;

    padding: 20px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-left: 6px solid #4e8b39;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.card-disciplina:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
/* =========================
   INFORMAÇÕES DA DISCIPLINA
   ========================= */

.info {
    display: flex;
    align-items: center;

    gap: 18px;

    flex: 1;
}


/* =========================
   ÍCONE
   ========================= */

.icone {
    width: 55px;
    height: 55px;

    min-width: 55px;

    border-radius: 12px;

    background: #eef5e8;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 26px;

    color: #4e8b39;
}


/* =========================
   TÍTULO
   ========================= */

.titulo {
    font-size: 20px;

    font-weight: 600;

    margin: 0 0 5px 0;
}


/* =========================
   DESCRIÇÃO
   ========================= */

.descricao {
    color: #7a7a7a;

    font-size: 14px;

    margin: 0;
}


/* =========================
   ESTATÍSTICAS
   ========================= */

.estatisticas {
    display: flex;

    align-items: center;

    gap: 55px;

    margin-left: 30px;
}

.estatisticas div {
    text-align: center;

    min-width: 80px;
}

.estatisticas strong {
    display: block;

    font-size: 22px;

    color: #355a2f;
}

.estatisticas span {
    font-size: 13px;

    color: #7b7b7b;
}


/* =========================
   SETA
   ========================= */

.seta {
    font-size: 26px;

    color: #999;

    margin-left: 35px;

    flex-shrink: 0;
}

.titulo-disciplinas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titulo-disciplinas h5 {
    margin: 0;
}

.btn-cadastrar {
    background: #4e8b39;
    color: white;

    text-decoration: none;
    width: 40%;
    padding: 10px 18px;

    border-radius: 10px;

    
    font-size: 14px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: 0.2s;
    margin-top: 20px;
}

.btn-cadastrar:hover {
    background: #3d702e;
    color: white;
}

.btn-cadastrar i {
    font-size: 16px;
}
/* =========================
   RESPONSIVIDADE
   ========================= */

@media (max-width: 900px) {

    .card-disciplina {
        flex-wrap: wrap;

        gap: 20px;
    }

    .estatisticas {
        margin-left: 73px;

        gap: 30px;
    }

    .seta {
        margin-left: auto;
    }
}


@media (max-width: 600px) {

    .barra-pesquisa {
        max-width: 100%;
    }

    .card-disciplina {
        padding: 16px;
    }

    .info {
        width: 100%;
    }

    .estatisticas {
        width: 100%;

        margin-left: 0;

        justify-content: space-around;

        gap: 10px;
    }

    .seta {
        display: none;
    }
}